*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
    border: 2px solid black;
    width:100%;
    height:100vh;
    /* overflow:auto; */
}
 /* section # 12 Footer */
 .row-sec12{
    width:100%;
    display: flex;
    justify-content: space-between;
 }
 /* .col-sec12P{
    float: left;
 } */
 .col-sec12-r{
    display: flex;
    /* float: left; */
    justify-content: end;
    padding-top: 10px;
    flex-wrap: wrap;
   
 }
 .col-sec12-r a{
    clear:left;
    float: center;
    text-decoration: none;
    color: black;
    padding: 30px;
    font-size: 1rem;
    font-weight: bold;
    /* margin-top: 10px; */
    /* border-right:2px solid black ; */
 }
 @media (max-width:720px){
  .row-sec12{
    display: block;
  }
 }


/* section # 11 */

.container-sec11{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    border-top: 3px solid lightblue;
    border-bottom: 3px solid lightblue;
}
.container-sec11 h1{
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
    padding: 0 1rem 0 1.56rem;
}
.container-sec11 p{
    font-size: 15px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@media (max-width:754px) {
    .container-sec11{
        width: 100%;
        height: auto;
    }
    .container-sec11 div{
        width: 100%;
        
    }
    .container-sec11 h1{
        font-size: 2rem;
        text-align: center;
        
    }
    .container-sec11 p{
        font-size: 12px;
        line-height: 20px;
    }

}
@media (max-width:420px){
    .container-sec11{
      display: block;
    }
    .container-sec11 h1{
        font-size: 2.5rem;
        text-align: center;
        
    }
    .container-sec11 p{
        font-size: 15px;
        line-height: 20px;
    }
}
/* section # 10 */

.container-sec10{
    width:100%;
    height:auto;
}
.row-sec10{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col-sec10 h4{
text-align: center;
color: red;
font-family: 'Times New Roman', Times, serif;
font-weight: 600;
font-size: 2.5rem;
   
}

.list-10s{
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.list-10s li{
    list-style: none;
    padding: 10px;
}
.list-10s a{
    text-decoration: none;
    color:red;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}
#line{
    cursor: pointer;
    transition: all 4s ease-in;
    
}
#line:hover{
    width: 25rem;
}
@media (max-width:944px) {
    .container-sec10{
       width:100%;
       height:auto;
    }
    .row-sec10{
       width: 100%;
       height:auto;
    }
    .col-sec10{
       width:100%;
    }   
   .col-sec10 h4{
    font-size: 2rem;

   }
   .col1-sec10 li{
    font-size:10px;

   }

}
@media (max-width:760px) {
 .container-sec10{
    width:100%;
    height:auto;
 }
 .row-sec10{
    width: 100%;
    height:auto;
 }
 .col-sec10{
    width:100%;
 }   
 .col-sec10 h4{
    font-size: 1.5rem;

   }
   .col1-sec10 li{
    font-size:10px;

   }

}
@media (max-width:660px){
 .row-sec10{
    display: block;
 }
 .col-sec10 h4{
    font-size: 2.5rem;

   }
   .col1-sec10 li{
    font-size:1rem;

   }
}
/* section # 9 */

.container-sec9{
    background-color: rgba(236, 28, 36, 0.04);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.col-sec9{
    
    width: 50%; 
    font-size: 30px;
}
.col-sec9 h2{

    text-align: center;
    font-weight: 600;
}
.info-sec9{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    color: black;
    flex-wrap: wrap;
}
.info-s9 a{
    font-size: 1rem;
    color:black;
    font-weight: 600;
    transition: all 0.5s ease;
    text-decoration: none;
    line-height: 5px;
    padding:0 0 0 15px;
}
.link-sec9{
    
    width: 40%;
    margin: 0;


}
.link-s9{
    color: black;
    padding-left: 0;
    padding-right: 1.87rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}
.slides-sec9{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slides-inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    

}
.officebox{
    position: absolute;
    background-color: rgba(0, 0, 0, .47);
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center; */
    width: 85%;
    height: 100%;
    border-radius: 25px;
}
.office-add h5{
        font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    padding: 0;
    margin-top: 5rem;
}
.office-add >p > a{
    text-decoration: none;
    margin-top: 0;
   margin-bottom: 1rem;
   font-family:'Times New Roman', Times, serif;
}
/* .row-form{
   -bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}
.row-form1{
    -bs-gutter-x: 1.5rem;
   --bs-gutter-y: 0;
   display: flex;
   float: left;
   flex-wrap: wrap;
   margin-top: calc(-1 * var(--bs-gutter-y));
   margin-right: calc(-.5 * var(--bs-gutter-x));
   margin-left: calc(-.5 * var(--bs-gutter-x));
 } */
/* .col-form{
    flex:0 0 auto;
    width: 90%;
} */
.col-form1{
    flex:0 0 auto;
    width: 20%;
}
.form-item{
    height: 50px;
    width: 100%;
    /* border-bottom: 1px sold black; */
    margin: 0 0 40px;
}
.form-item input{
    height: 100%;
    border-right: 0;
    width: 100%;
    border-top: 0;
    border-left: 0;

    border-bottom:1px solid black;
    margin: 0 0 40px;
}
.btn-form{
    height: 50px;
    width: 100%;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: 0;

}
.btn-form:hover{
    background-color: black;
   

}
.btn-form a{
    text-decoration: none;
    text-align: center;
    color: white;
}
@media (max-width:830px){
    .col-sec9 h2{
        font-size: 2rem;
    }
}
@media (max-width:390px){
    .col-sec9 h2{
        font-size: 1.3rem;
    }
    .container-sec9{
        width:100%;
        display:block;
    }
}

/* section # 8 */

.row-s8{
    
    width: 100%;
}
.col-heads8{
    width: auto;
    padding: 0 0 0 3.12rem;
    text-align: left;

}
.col-heads8 h3{
    text-align: left;

    padding-top: 3.75rem;
    color: red;
    font-weight: 280;
    font-size: 2.5rem;
}
.col-heads8 h2{
    color: red;
    font-weight: 300;
    font-size: 2.5rem;
}
.container-sec8{
    width:100%;
    margin: 0;
    background: url(./images/background.816865a3.webp) no-repeat;
    background-size: cover;
    padding: 6.25rem 0px;
    background-position-x: center;
    background-position-y:center ;
    height: auto;
    display: grid;
    grid-template-columns: 23.12rem 23.12rem 23.12rem;
    justify-content: center;
    gap:1.56rem;
}
.col-sec8{
    width: 100%;
    
}
.card-s8{
    margin-top: 1rem;
    padding-top: 10px;
    width: 100%;
    height: 52%;
    background-color: azure;
    border-radius: 60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .112);
    
}
.test-exp{
    width: 100%;
    margin: 10px;
    

}
.test-exp h4{
   
    color: red;
    font-size:1.56rem;
    font-weight: 300;
    text-align: center;
}
.test-exp p{
    color: black;
    font-size: 1.1rem;
    line-height: 1.1rem;
    overflow-y: auto;
}
.test-exp a{
    cursor: pointer;
    display: block;
    margin: 15px;
    text-decoration: none;
    font-size: 1.1rem;
    text-align: left;
}
.testi-details{
    display:flex;
    justify-content:flex-start;
    width:55%;
    margin:auto;
    gap:1.6rem;
    flex-wrap: wrap;
    
}
.testi-img{
    cursor: pointer;
    margin: 0;
    padding: 0;
    border:0;
    margin-left: 25px;
    /* border-radius: 100%; */
}
.test-name{
    position: absolute;
    left: 0;
    margin: 0;
    border: 0;
    padding: 0;
    color: black;
}
@media (max-width:1165px) {
    .row-s8{
        clear: both;
        width: 100%;
        
    }
    .test-exp p{
        color: black;
        font-size: 0.8rem;
        line-height: 0.8rem;
        overflow-y: auto;
    }   
    .container-sec8{
        clear: both;
        width:100%;
        display: grid;
        grid-template-columns: 19rem 19rem 19rem;
        /* grid-template-rows: 25rem  auto; */
        justify-content: center;
        gap:1.5rem;
        /* row-gap:1rem; */
      
    }
    
}
@media (max-width:975px) {
    .row-s8{
        clear: both;
        width: 100%;
        
    }
    .test-exp p{
        color: black;
        font-size: 0.8rem;
        line-height: 0.8rem;
        overflow-y: auto;
    }   
    .container-sec8{
        clear: both;
        width:100%;
        display: grid;
        grid-template-columns: 15rem 15rem 15rem;
        /* grid-template-rows: 25rem  auto; */
        justify-content: center;
        gap:1.5rem;
        /* row-gap:1rem; */
      
    }
    .test-exp h4{
   
        color: red;
        font-size:1rem;
        font-weight: 300;
        text-align: center;
    }
    .test-exp p{
        color: black;
        font-size: 1rem;
        line-height: 0.8rem;
        overflow-y: auto;
    }  
   
    
}
@media (max-width:775px) {
    .row-s8{
        width: 40%;
        margin: auto;
    }
    .test-exp h4{
        padding-top: 0.5rem;
        color: red;
        font-size:1.5rem;
        font-weight: 300;
        text-align: center;
    }
    .container-sec8{
        display: block;
    }
    .col-sec8{
        padding-top: 0.5rem;
        margin-top: 0.5rem;
        height:20.75rem;
    }
    .card-s8{
        text-align: center;
        height: 12rem;
    }
    .testi-img img{
        padding-bottom: 1.5rem;
    }
    .testi-img{
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    
}
@media (max-width:390px){
   .col-heads8{ 
    text-align: center;
    padding:0;
    margin-right: 1rem;
   }

}

/* section # 7 */


.container-sec7{
    
    height: auto;
    width: 100%;
    margin:0;
    padding-top: 3.12rem;
    padding-bottom: 3.12rem;
    text-align: center;
}
.grid-sec7{
    padding-top: 30px;
   display: flex;
   justify-content: center;
   

}
.img-sec7 img{
   height:37.5rem;
   width:37.5rem; 
}
.col2-s7{
    display:grid;
    grid-template-rows: repeat(5,auto) ;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
}
.row-s7{
 display: flex;
 justify-content: space-between;
 gap: 1.5rem;
 
}
.h4-s7{
    margin: 0 0 0 25px;
    text-align: center;
}
.h4-s7 p {
    margin-bottom: 0;
    margin-top: .5rem;
    padding: 0;
    margin-left: 0;
    color:black;
    font-size: 1rem;
    overflow: auto;
   
}
.h4-s7 h4 {
    margin-top: 0;
    margin-bottom: .5rem;
    overflow: auto;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0;
    border: 0;
    color:red;
}

.img-s7{
    height: 90px;
    width: 6.25rem;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,.161);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}

.img-s7:hover{
    background-color: red;
}
.img-s7 img,svg{
vertical-align: middle;
object-fit: contain;
margin: 0;
padding: 0;
border: 0;
}
.link-s7{
    margin: 1.2rem;
    
    text-align: center;
}
.link-s7 a{
    text-decoration: none;
    color: red;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
}
@media (max-width:944px) {
    .container-sec7{
        width:100%;
        height:auto;
    }
 
    .grid-sec7{
        display: block;
        justify-content: center;
    }
    .h4-s7{
        padding-left: 0;
        margin-left: 0;
    }
    .h4-s7{
        margin-left: 0;
    }
    .col2-s7{
        justify-content: center;
    }

}
@media (max-width:754px) {
    .container-sec7{
        width:100%;
        height:auto;
    }
    .grid-sec7{
        display: block;
    }
    .col2-s7{
        text-align: center;
    }
    

}
@media (max-width:580px){
    .img-sec7 img{
        height:33.5rem;
        width:30rem; 
     }
     .col2-s7{
        display:block;
        text-align: center;
    }
    .row-s7{
        gap:1.8rem;
    }
    .col2-s7{
        gap:2.8rem;
    }
}
@media (max-width:460px){
    .img-sec7 img{
        height:28rem;
        width:20rem; 
     }
}
@media (max-width:460px){
    .img-sec7 img{
        height:20rem;
        width:15rem; 
     }
}
/* section # 6 */

.container-sec6{
    clear: both;
    background-color: black;
    height: 21.87rem;
    width:100%;
    color:white;
    text-align: center;
}
 .h1-sec6 h1{
    font-size: 2.81rem;
    color: red;
    font-weight: bold;
    
}
.h1-sec6{
   

    padding-top:6.25rem;
}
.h4-sec6 h4{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 25px;
    color: white;
    font-weight: bold;
}
.btn-6sec {
    
    display:flex;
    justify-content: center;
    background-color: antiquewhite;
}
.btn4{
   
    cursor: pointer;
    background-color:white;
    border:0;
    height: 50px;
    max-width: 21.87rem;
    border-radius: 10px;
    color: red;
    margin-right: 15px;
}
.btn4 >a{
    font-size: 1rem;
    letter-spacing: 1.1px;
    text-decoration: none;
    padding: 3.1rem 5.9rem;
    color: Red;
    font-weight: 600;
}
.btn4:hover{
    background-color: black;
    color:white;
    transition: background-color 0.4ms ease-in-out;
    /* opacity: 0;
    z-index: -15 !important;
    transform: skewX(-60deg); */
}
.btn5{
    
    cursor: pointer;
    background-color: red;
    border:0;
    height: 50px;
    max-width: 21.87rem;
    color: white;
    border-radius: 10px;
    
}
.btn5 > a{
    font-size: 1rem;
    letter-spacing: 1.1px;
    text-decoration: none;
    padding: 3.1rem 75px;
    color:white;
    font-weight: 600;
}
.btn5:hover{
    background-color: black;
    color: red;
    transition: background-color 0.4ms ease-in-out;
    /* opacity: 0;
    z-index: -15 !important;
    transform: skewX(-60deg); */
}
@media (max-width:760px){

    .container-sec6{
       background-color: black;
       width: 100%;
       height:25rem;
      
       
       
    }
    .container-sec6 div{
       width:100%;
    
    }
    
   .btn4{
    width:18.7rem;
   }
   
   .h4-sec6 h4{
    font-size: 1.1rem;
    
    
    
    }
    .h4-sec6 h1{
        font-size: 1.5rem;
       
    } 
    /* .h1-sec6{
   

        padding-top:60px;
    } */

}
@media (max-width:395px){

 .container-sec6{
    background-color: black;
    width: 100%;
    height:auto;
    
    
 }
 .container-sec6 div{
    width:100%;
   
 }
 .h4-sec6 h4{
    font-size: 1rem;
    
    
    
    }
    
 .h4-sec6 h1{
        font-size: 1.1rem;
        }
.btn5 > a {
            font-size: 12px;
         }
 .btn5 > a {
    font-size: 12px;
 }
}
/* section # 5 */
.container-sec5{
    
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    text-align: center;

}
.container-sec5:before{
    content: "";
    background-image: url(./images/working.f874801b.webp);
    background-repeat: no-repeat;
    height: 384px;
    width: 100%;
    position: absolute;
    left:0;
    top:12.5rem;
    right:31.25rem;
    top:25rem;
    z-index:  -1;

}
.grid-sec5::before{
    content: "";
    background-image: url(images/curved.d4994d33.webp);
    background-repeat: no-repeat;
    height: 803px;
    width:80%;
    margin: auto;
    position: absolute;
    top:0;
    bottom: 0;
    left: 14.37rem;
    z-index: -1;

}

.grid-sec5{
     
    position: relative;
    display: inline-grid;
    grid-template-rows: 150px 150px 150px 150px 150px 150px;
    grid-auto-flow: row;
    align-items: center;
    width: 100%;
    row-gap: 4px;
   
}
.row-s51{
       
    display: flex;
    /* float: left; */
    justify-content: center;
    width:50%;
    margin: auto;
    flex-wrap:nowrap;
}
.img-s5::before {
    content: "";
    background: #ec1c24;
    position: absolute;
    left:23.5rem;
    height: 3px;
    width: 4.06rem;
    top: 1.25rem;
    z-index: 1;
}
.row-s52{
    padding-left: 9rem; 
    display: flex;
    /* float: left; */
    justify-content: center;
    width:50%;
    margin: auto;

}
.img-s51::before {
    content: "";
    background: #ec1c24;
    position: absolute;
    left: 32rem;
    height: 3px;
    width: 60px;
    top: 20;
    z-index: 1;
}

.row-s53{
    padding-left: 21.50rem; 
    display: flex;
    /* float: left; */
    justify-content: center;
    width:70%;
    margin: auto;

}
.img-s52::before {
    content: "";
    background: #ec1c24;
    position: absolute;
    left:36.2rem;
    height: 3px;
    width: 60px;
    top: 20;
    z-index: 1;
}

.row-s54{
    padding-left: 13.75rem;    
    display: flex;
    /* float: left; */
    justify-content: center;
    width:50%;
    margin: auto;

}
.img-s53::before {
    content: "";
    background: #ec1c24;
    position: absolute;
    left:36.2rem;
    height: 3px;
    width: 60px;
    top: 20;
    z-index: 1;
}
.row-s55{
   padding-left: 11.25rem; 
    display: flex;
    /* float: left; */
    justify-content: center;
    width:50%;
    margin: auto;

}
.img-s54::before {
    content: "";
    background: #ec1c24;
    position: absolute;
    left:34.37rem;
    height: 3px;
    width: 60px;
    top: 20;
    z-index: 1;
}
.row-s56{
    padding-left: 1.25rem;
    display: flex;
    /* float: left; */
    justify-content: center;
    width:50%;
    margin: auto;

}
.img-s55::before {
    content: "";
    background: #ec1c24;
    position: absolute;
    left:25.37rem;
    height: 3px;
    width: 60px;
    top: 20;
    z-index: 1;
}

.img-s5{
    
    text-align: center;
    width: 12.5rem;
    height: 4.6rem;
    border-radius: 100%;
   background-color:#ec1c24 ;
}
.img-s51{
    padding:0 0 60px;   
    text-align: center;
    width: 12.5rem;
    height: 4.6rem;
    border-radius: 100%;
   background-color:#ec1c24 ;
}
.img-s52{
    padding:0 0 60px;   
    text-align: center;
    width: 12.5rem;
    height: 4.6rem;
    border-radius: 100%;
   background-color:#ec1c24 ;
}
.img-s53{
    padding:0 0 60px;   
    text-align: center;
    width: 11rem;
    height: 4.6rem;
    border-radius: 100%;
   background-color:#ec1c24 ;
}
.img-s54{
    padding:0 0 60px;   
    text-align: center;
    width: 15rem;
    height: 4.6rem;
    border-radius: 100%;
   background-color:#ec1c24 ;
}
.img-s55{
    padding:0 0 60px;   
    text-align: center;
    width: 12.5rem;
    height: 4.6rem;
    border-radius: 100%;
   background-color:#ec1c24 ;
}
.img-s5 img{
    margin-top: 18px;
}
.img-s51 img{
    margin-top: 18px;
}
.img-s52 img{
    margin-top: 18px;
}
.img-s53 img{
    margin-top: 18px;
}
.img-s54 img{
    margin-top: 18px;
}
.img-s5:hover{
    background-color: black;
}
.img-s51:hover{
    background-color: black;
}
.img-s52:hover{
    background-color: black;
}
.img-s53:hover{
    background-color: black;
}
.img-s54:hover{
    background-color: black;
}
.img-s55:hover{
    background-color: black;
}
.s5 h6:hover{
    color: black;
}
.s5{
    position:relative;
    margin:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.s5 h6{
   position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    color:#ec1c24;
    font-size: 1.6rem;
    line-height: 1.5rem;
    /* float:left; */
    padding: 0 0 2.5rem 3.7rem;


}
.s5 p{
    
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 1.56rem;
}
.sec5{
  
  padding: 5rem 0 0; 
  width:100%;
  
  
 }
 .sec5::before{
    content:"";
    background-color: lightgrey;
    width: 100%;
    height:100%;
    z-index: 1;  

 }
@media (max-width:1170px){
    .grid-sec5::before{
        display: none;
        content: "";
        background-image: url(images/curved.d4994d33.webp);
        background-repeat: no-repeat;
        height: 803px;
        width:80%;
        margin: auto;
        position: absolute;
        top:0;
        bottom: 0;
        left: 150px;
        z-index: -1;
    
    }
    .img-s5::before {
        display: none;
        content: "";
        background: #ec1c24;
        position: absolute;
        left:280px;
        height: 3px;
        width: 60px;
        top: 20;
        z-index: 1;
    }
    .img-s51::before {
        display: none;
        content: "";
        background: #ec1c24;
        position: absolute;
        left:440px;
        height: 3px;
        width: 60px;
        top: 20;
        z-index: 1;
    }
    .img-s52::before {
        display: none;
        content: "";
        background: #ec1c24;
        position: absolute;
        left:500px;
        height: 3px;
        width: 60px;
        top: 20;
        z-index: 1;
    }
    .img-s53::before {
        display: none;
        content: "";
        background: #ec1c24;
        position: absolute;
        left: 500px;
        height: 3px;
        width: 60px;
        top: 20;
        z-index: 1;
    }
    .img-s54::before {
        display: none;
        content: "";
        background: #ec1c24;
        position: absolute;
        left:450px;
        height: 3px;
        width: 60px;
        top: 20;
        z-index: 1;
    }
    .img-s55::before {
        display: none;
        content: "";
        background: #ec1c24;
        position: absolute;
        left:450px;
        height: 3px;
        width: 60px;
        top: 20;
        z-index: 1;
    }
    .grid-sec5{
     
      
        align-items: center;
        width: 100%;
        row-gap: 12px;
       
    }
    .s5 p{
    
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.4rem;
    }
    .row-s51{
       
        display: flex;
        /* float: left; */
        justify-content: center;
        width:80%;
        margin: auto;
        flex-wrap:nowrap;
    }

    .row-s52{
        padding-left: 9rem; 
        display: flex;
        /* float: left; */
        justify-content: center;
        width:70%;
        margin: auto;
    
    }
  
    
    .row-s53{
        padding-left: 21.50rem; 
        display: flex;
        /* float: left; */
        justify-content: center;
        width:80%;
        margin: auto;
    
    }

    
    .row-s54{
        padding-left: 13.75rem;    
        display: flex;
        /* float: left; */
        justify-content: center;
        width:70%;
        margin: auto;
    
    }
 
    .row-s55{
       padding-left: 11.25rem; 
        display: flex;
        /* float: left; */
        justify-content: center;
        width:70%;
        margin: auto;
    
    }
   
    .row-s56{
        padding-left: 1.25rem;
        display: flex;
        /* float: left; */
        justify-content: center;
        width:50%;
        margin: auto;
    
    }
    .container-sec5:before{
        content: "";
        background-image: url(./images/working.f874801b.webp);
        background-repeat: no-repeat;
        height: 384px;
        width: 50%;
        position: absolute;
        left:0;
        top:12.5rem;
        right:31.4rem;
        top:25rem;
        z-index:  -1;
    
    }

 }
@media (max-width:945px) {
    .container-sec5{
        width:100%;
        height:auto;
    }
 
    .container-sec5 > .set1{
        width: 100%;
        padding: 0 100px;
    }
    .container-sec5:before{
        display: none;
        content: "";
        background-image: url(./images/working.f874801b.webp);
        background-repeat: no-repeat;
        height: 384px;
        width: 50%;
        position: absolute;
        left:0;
        top:12.5rem;
        right:31.4rem;
        top:25rem;
        z-index:  -1;
    
    }
   .grid-sec5{
    display: block;
   }
   .row-s51{
     height:8rem;  
    display: flex;
    /* float: left; */
    justify-content: center;
    width:90%;
    margin: auto;
    flex-wrap:nowrap;
  }

  .row-s52{
    height:8rem; 
    padding-left:0; 
    display: flex;
    /* float: left; */
    justify-content: center;
    width:90%;
    margin: auto;

   }


  .row-s53{
    height:8rem; 
    padding-left:0; 
    display: flex;
    /* float: left; */
    justify-content: center;
    width:90%;
    margin: auto;

   }

    .row-s54{
        height:8rem; 
        padding-left:0px;    
        display: flex;
        /* float: left; */
        justify-content: center;
        width:95%;
        margin: auto; 
    
    }
  
    .row-s55{
        height:8rem; 
       padding-left:0px; 
        display: flex;
        /* float: left; */
        justify-content: center;
        width:90%;
        margin: auto;
    
    }
   
    .row-s56{
        height:8rem; 
        padding-left:0px;
        display: flex;
        /* float: left; */
        justify-content: center;
        width:90%;
        margin: auto;
    
    }

}
@media (max-width:500px){
    .row-s51{
        height:10rem; 
        width: 100%;
        margin:0; 
      
     }
   
     .row-s52{
       height:10rem; 
       width: 100%;
        margin:0; 
      
   
      }
   
   
     .row-s53{
       height:10rem;
       width: 100%;
        margin:0;  
      
      }
   
       .row-s54{
           height:10rem; 
           width: 100%;
           margin:0; 
          
       
       }
     
       .row-s55{
           height:10rem; 
           width: 100%;
           margin:0; 
       
       }
      
       .row-s56{
           height:10rem; 
           width: 100%;
           margin:0; 
       
       }
       .s5 h6{
        position: absolute;
         top: 0;
         left: 0;
         margin-top: 0;
         color:#ec1c24;
         font-size: 1.2rem;
         line-height: 1rem;
         /* float:left; */
         padding: 0 0 2.5rem 3rem;
     
     
     }
     .s5 p{
         
         font-size: 1rem;
         font-weight: 200;
         line-height: 1.2rem;
     }

}

/* section#4 */
.container-sec4{
    
    height:auto;
    width: 100%;
    text-align: center;
}
.carousel-container{
  max-width: 75rem;
  position: relative;
  margin: auto
}

.myslides{
    display: none;
}
.next,.prev{
 cursor:pointer;
 position:absolute;
 top:50%;
 width:auto;
 padding:16px;
 margin-top: -22px;
 color:white;
 font-weight: bold;
 font-size: 20px;
 border-radius: 0 3px 3px 0;
 user-select: none;
 -webkit-user-select: none;
 transition: 0.6s ease;

}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;

}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


@media (max-width:760px){
  .container-sec4{
     width: 100%;
  }
  .container-sec4 div{
    width: 100%;
 }

}
@media (max-width:395px){
    .container-sec4{
       width: 100%;
    }
    .container-sec4 div{
      width: 100%;
   }
   .para{
    font-size:10px;
   }
  
  }

/* section#3 */


.container-sec3{
    width: 100%;
   height: auto; 
   clear: both;
  text-align: center;
}
.container-sec3 h3{
    padding-top: 4rem;
}
.container-sec3 div{
    width: 90%;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.btn3{
 cursor: pointer;
 background-color: red;
 border-radius: 10px;   
 text-align: center;
 font-weight: bold;
 border: 0;
 height: 3rem;
 width: 15.6rem;
 
 
}
.btn3 > a {
 margin-top: 2.4rem; 
 text-decoration: none; 
 color: white; 
 
 
}
.btn3:hover{
    color: white;
    transition: background-color 0.2s;
    background-color: black;
    transition-timing-function: ease-in;
}

 .container-sec3 div > p {
    width: 90%;
    margin: auto;
    font-size: 20px;
}


@media (max-width:395px){
    .container-sec3 div{
       
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .container-sec3 div p{
        word-spacing: 2px;
        font-size: 1.2rem;
       
      }
      .container-sec3 div{
        width:100%;
    
      }
      .container-sec3 h2{
         font-size: 2rem;
      }
      .container-sec3 h3{
        padding-top: 3rem;
    }
    
}
@media (max-width:760px){
  .container-sec3{
    clear: both;
    height: auto;
    width:100%;

  }
  .container-sec3 div p{
    word-spacing: 5px;

  }
  .container-sec3 div{
    width:100%;
    font-size: 20px;
  }


}
/* Section# 3 */
 /* Section # 2 Grid-center */

 .grid-center{
    width:98%;
    margin:auto;
    display:inline-grid;
    grid-template-columns: 15.62rem 15.62rem 15.62rem 15.62rem;
    gap:10px;
    justify-content: space-around;
    align-items: center;
    

 }
.flip-card{
 
 border-radius: 6%;
 background-color: transparent;
 height: 300px;   
 width: 15.62rem;
 /* border: 1px solid black; */
 perspective: 1000px;

}
 .flip-card-inner{
    box-shadow: 3px 3px 2px lightgrey;
    border-radius: 6%;
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
 }
 .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
 }
 .card-front, .card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
 }
 .card-front{
    
    border-radius: 6%;
    background-color: white;
    color: black;
    /* width:98%;
    margin:auto; */
 }
 #card1:before {
    content: "";
    position: absolute;
    left: 0;  
    bottom:0;
    background-image: url(images/f1.webp);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    width: 7.31rem;
    height: 150px;
 }
 #card2:before {
    content: "";
    position: absolute;
    left: 0;  
    bottom:0;
    background-image: url(images/f2.webp);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    width: 7.31rem;
    height: 150px;
 }
 #card3:before {
    content: "";
    position: absolute;
    left: 0;  
    bottom:0;
    background-image: url(images/f3.webp);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    width: 7.31rem;
    height: 150px;
 }
 #card4:before {
    content: "";
    position: absolute;
    left: 0;  
    bottom:0;
    background-image: url(images/f4.webp);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    width: 7.31rem;
    height: 150px;
 }
 #card5:before {
    content: "";
    position: absolute;
    left: 0;  
    bottom:0;
    background-image: url(images/f5.webp);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    width: 7.31rem;
    height: 150px;
 }
 #card6:before {
    content: "";
    position: absolute;
    left: 0;  
    bottom:0;
    background-image: url(images/f6.webp);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    width: 7.31rem;
    height: 150px;
 }
 #card7:before{
    content: "";
    position: absolute;
    left: 0;  
    bottom:0;
    background-image: url(images/ff5.webp);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    width: 7.31rem;
    height: 150px;
 }
 #card8:before{
    content: "";
    position: absolute;
    left: 0;  
    bottom:0;
    background-image: url(images/ff6.webp);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    width: 7.31rem;
    height: 150px;
 }
 .card-back{
    
    border-radius: 6%;
    background-color: red;
    color:white;
    /* overflow-y: auto; */
    
    /* width:98%;
    margin: auto; */
    transform: rotateY(180deg);
 }
 .card-back p{
    overflow-y:auto;
 }
.clearfix{
    
    overflow: auto;
}

 .card-btn{
    border-color: transparent;
    cursor: pointer;
    padding: 1.25rem 3.12rem;
    margin-top: 30px;
    border-radius: 10px;
   

 }
 
.card-btn:after{
    box-sizing: border-box;
    clear: both;
}
 .card-btn > a {
   text-decoration: none;
   color: red;

 }
 .card-btn:hover{
    color: white;
    background-color: black;
    transition-property: all;
    
    transition-timing-function: ease;
 }
 .card-btn > a:hover{
    color: white;
    background-color: black;
 }
 .h41{
   
    clear: both;
    margin: auto;
    width: 90%;
    height: 25%;
    /* padding: 100px 200px ; */
   
   }





.h41 > h3{
      display:block;
       font-size: 1.87rem;
       
   }
.h41 > h1{
       display:block; 
       font-size: 2.81rem;

   }
.set1{
       height: 50px;
       max-width: 1.25rem;
       text-align: center;
       text-decoration: underline;
       text-decoration-thickness: 4px;
       margin: auto;
       color: red; 
       padding-bottom: 3rem;
       
   }
.container-sec2{
    width: 100%;
    clear: both;
    text-align: center;

 }
 @media (max-width:1030px){
    .grid-center{

        width:100%;
       grid-template-columns: 10.62rem 10.62rem 10.62rem 10.62rem;
        
    
     }
     .flip-card{
        width: 10.62rem;
        
       }
 }

@media (max-width: 756px){
   
    .grid-center{

        width:100%;
       grid-template-columns: 8rem 8rem 8rem 8rem;
        
    
     }
     .flip-card{
        width: 8rem;
        
       }

   
}
@media (max-width:580px){
    .grid-center{
        display:block;
    
        width:100%;
        padding: 0;
        text-align: center;
    
       }
       .flip-card{
        width:80%;
        margin: auto;
        margin-bottom: 1.8rem;
       }

 }

 /* section#2 */
        /* section # 1  */
.Banner_banner-video__Zkdmw{
    bottom:0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity:0.6;
    top: 0;
    right:0;
    left: 0;
    z-index:-1;

}
.container-sec1{
    clear:both;
    height:auto;
    text-align: center;
    width: 100%;
}
.btns{
    
    display:inline-flex;
    /* width: 75%;
    margin: auto; */
    align-items: center;
    justify-content: center;

}
.btns > .btn1{
  
     
    cursor: pointer;
    padding: 16px 32px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    border:0;
    background-color: red;
    color: black;
    margin: 1rem;
}
.btn1:hover{
    
    color: white;
    background-color: black;
}
.btns a:hover{
    color: white;

}
.btns > .btn2{
    cursor: pointer;
    height: 50px;
    padding: 16px 70px;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    border:0;
    color: white;
    
}
.btn2:hover{
    color: white;
    background-color: red;
}
.btns > .btn1 > a{
    text-decoration: none;
    color:black;
    
    
}
.btns > .btn2 > a{
    text-decoration: none;
    color:white;
    
    
}
.btn1 > a:hover{
    color: white;
}

.imgs1{
    background: transparent;
    opacity: 8;
    padding: 16px 4px;
    
}
.zone > .row1 {
  background-color: transparent;
  width: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
} 

/* .zone > .row1 >.col{
    width: 180%;
} */
.text-color{
    width: 90%;
    margin: auto;
}
.text-color h3{
    margin-top: 150px;
    font-size:1.5rem;
   
}
.text-color h1{
    margin-top: 1rem;
    display: block;
    font-size: 4.2rem;
    
}
div > h3 {
    
    text-align: center;
    color: red;
    
}
div > h1 {
    text-align: center;
    color: black;
    font-weight: bold;
    
}
@media (max-width:760px) {
    .text-color h1{
        margin-top: 1rem;
        display: block;
        font-size: 3rem;
        
    }
}
@media (max-width:395px) {

    .text-color h1{
        margin-top: 1rem;
        display: block;
        font-size: 2rem;
        
    }
    .text-color h3{
        margin-top: 150px;
        font-size:1rem;
       
    }
   
    div > h3{
        font-size: 1rem;

    }
    div > h1{
        font-size: 1.8rem;
    }
    .imgs1{
        background: transparent;
        opacity: 8;
        padding: 0.5rem 0.1rem;
        
    }
}
@media (max-width:500px){
 .btns{
   display:block;
 }
 .btns > .btn2 {
    margin-left: 0.4rem;
  }
}
@media (max-width:260px){
    .btns > .btn1,.btn2 > a{
        font-size:8px ;
   }

}
/* Navbar Section */



nav.container-nav{
    position:fixed;
    top:0;
    background-color:white;
    width: 100%;
    height:3.5rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px black;
}

/* navbar button  */
.nav-btn{
    cursor: pointer;
    border: none;
    background-color: red;
    text-align: center;
    color: black;
    height: 3.5rem;
    width:22%;
    /* padding: 10px 3rem; */


    
}
.vg{
    color:black;
}
.nav-btn > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transform: uppercase;
}
.nav-btn:hover{
    background-color: black;
}
/* this class is for logo */
.navbar-brand {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color:black;
    text-transform: uppercase;
    line-height: 50px;
    margin-left: 30px;
}
 /* navbar list */

.navbar-nav{
    
    height:3.5rem;
    /* background-color:rgb(137, 178, 137); */
    width: 100%;
    list-style-type:none;
    color: black;
    align-items: center;
   

}
.navbar-nav li{
    display:inline-block;
    margin-top: 18px;
    /* background-color: #ec1c24; */

}
.navbar-nav > li > a{
    
    font-size: 12px;
    text-decoration: none;
    padding:2rem 0.8rem;
    border-radius: 10px;
    color:black;
}
.navbar-nav li a:hover{
    color: #bfadad;
}
.navbar-nav li a:visited{
    color: #3c2e2e;
}
.navbar-nav li> a:active{
    color: blue;
}
.checkbtn{
   color:black;
   cursor: pointer;
   font-size: 30px;
   margin-right: 1.8rem;
   display: none;


}
#check{
    display:none;
}
/* break point */
@media (max-width:1020px){
.container-nav{
    height: 2.8rem;
}
.navbar-brand{
    font-size: 1rem;
}
.btn-nav{
    height: 2.6rem;
}
.navbar-nav{
  height: 2.8rem;
}
.navbar-nav li{
    margin-top: 10px;
}
.navbar-nav > li > a{
    
    padding:1.8rem 0.5rem;
    font-size: 10px;
}
}
@media screen and (max-width:990px) {
    .navbar-nav{
      position:fixed;
      top:55px;
      left:-120vh;
      height:40vh;
      width: 100%;
     background-color: #fff;
    }
    .navbar-nav > li{
       align-items: center;
       display:block;
       height: 2.1rem;
        padding-top: 10px;
       
    }
    .navbar-nav > li > a{
        font-size: 15px;
        padding:0 2rem;
       
/* 
        background-color: aliceblue; */
        /* height:1rem; */
    }
    .navbar-nav > li:hover{
        color:red;
        background-color: #bfadad;
        border-radius: 10px;
    }
    .nav-btn{
        display: none;
    }
    .checkbtn{
        display: block;
    }
    #check:checked ~ .navbar-nav{
        left:0;
    }
}
@media (max-width:760px){
.navbar-brand{
    font-size: 1.5rem;
}
}